In [2]:
import pandas as pd

# Read Excel file
data_excel = pd.read_excel('/content/haha3.xlsx')

# Read CSV file
data_csv = pd.read_csv('/content/haha.csv')

# Read TSV file (Tab-separated values)
data_tsv = pd.read_csv('/content/haha2.tsv', sep='\t')

print(data_excel)
print(data_csv)
print(data_tsv)

# Read data from URL
url = 'https://raw.githubusercontent.com/Siddhu/Aiml/main/haha.csv'
df_url = pd.read_csv(url)
print("\nData from URL:")
print(df_url)

          Table 1 Unnamed: 1  Unnamed: 2 Unnamed: 3
0           Name        Age        Ht no      Place
1       RajaRohan         19  2203A52126  Huzurabad
2  Vamshi krishna         19  2203A52127     Ambala
3         Avinash         19  2203A52227   Indurthi
4    Gopi krishna         21  2203A52076     Parkal
5          Sravan         19  2203A52099   Warangal
            Name   Age        Ht no      Place  Unnamed: 4  Unnamed: 5
0       RajaRohan    19  2203A52126  Huzurabad         NaN         NaN
1  Vamshi krishna    19  2203A52127     Ambala         NaN         NaN
2         Avinash    19  2203A52227   Indurthi         NaN         NaN
3    Gopi krishna    21  2203A52076     Parkal         NaN         NaN
4          Sravan    19  2203A52099   Warangal         NaN         NaN
            Name   Age        Ht no      Place  Unnamed: 4  Unnamed: 5
0       RajaRohan    19  2203A52126  Huzurabad         NaN         NaN
1  Vamshi krishna    19  2203A52127     Ambala         NaN         NaN
2         Avinash    19  2203A52227   Indurthi         NaN         NaN
3    Gopi krishna    21  2203A52076     Parkal         NaN         NaN
4          Sravan    19  2203A52099   Warangal         NaN         NaN

Data from URL:
            Name   Age        Ht no      Place  Unnamed: 4  Unnamed: 5
0       RajaRohan    19  2203A52126  Huzurabad         NaN         NaN
1  Vamshi krishna    19  2203A52127     Ambala         NaN         NaN
2         Avinash    19  2203A52227   Indurthi         NaN         NaN
3    Gopi krishna    21  2203A52076     Parkal         NaN         NaN
4          Sravan    19  2203A52099   Warangal         NaN         NaN